@font-face {
  font-family: "Gradual";
  src: url("assets/BwGradualDEMO-Medium.otf") format("truetype");
  font-style: normal;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Gradual", sans-serif;
  margin: 0;
  padding: 5%;
  font-weight: normal;
  color: white;
  background: black;
}

.logo {
  margin: 60px auto;
  display: block;
  width: 60px;
}

.summary {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary span {
  display: block;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  margin-bottom: 100px;
}

.gallery img {
  width: 100%;
  border-radius: 16px;
  /* height: 100%; */
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.as2x1 {
  aspect-ratio: 2 / 1;
}

.as2x2 {
  aspect-ratio: 2 / 2;
}

.as2x3 {
  aspect-ratio: 2 / 3;
}
.as2x4 {
  aspect-ratio: 1 / 2;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  max-width: 640px;
}

.icon-wrapper {
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.icon-wrapper::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0;
  transition: all 250ms;
}

.icon-wrapper:hover.icon-wrapper::after {
  opacity: 1;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  font-size: 14px;
}

.link-download {
  display: flex;
  gap: 30px;
  align-items: center;
}

.copyright {
  display: flex;
  margin-top: 120px;
  justify-content: center;
}

.copyright span {
  font-size: 14px;
}

.icon-title {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  cursor: pointer;
}

.icon-title::after {
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  opacity: 0;
  transition: all 250ms;
}

.icon-title:hover.icon-title::after {
  opacity: 1;
}

svg {
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .social-media {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    justify-content: center;
    margin-bottom: 100px;
    gap: 60px;
  }

  .icon-wrapper {
    display: grid;
    place-items: center;
  }

  .links {
    flex-direction: column;
  }

  .link-download {
    gap: 50px;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
  }

  /* .gallery img {
    display: none;
  }

  .gallery img.mobile {
    display: block;
  } */
}
